<script type="text/javascript" src="/assets/js/userdisplay.js">
</script>
<header class="header"><h1 class="un">{{uservar.display_name}}</h1>
<form style="float: right;"></form>
<button class="btn" id="newTopic">Create a new Topic</button>
</header>

<div class="col-md-2"></div>
<div class="container col-md-8" >
	{{#each (each_sort uservar "topics" "position") as |topic topicindex|}}
		<div class="topic_div">
		<h3>{{topic.topic_name}}</h3>
			{{#each (each_sort topic "tasks" "priority") as |task taskindex|}}
				<div class="Atasks">
					<button class="btn" id="btn-task_{{task.id}}" data-toggle="modal" data-target="#myModal"><h4>{{task.task_title}}</h4></button>
					<section class="Btasks" id="section-task_{{task.id}}">
					{{#each (each_sort task "step_lists" "position") as |steplist steplistindex|}}
						<button class="btn" id="btn-steplist_{{steplist.id}}"><h5>{{steplist.list_title}}</h5></button>
						<ul class="list" id="section-steplist_{{steplist.id}}">
							{{#each (each_sort steplist "steps" "position") as |step stepindex|}}
								<li class="step" id="{{step.id}}">
								{{step.name}}:  {{step.description}}
								</li>
							{{/each}}
						</ul>
						<button class="hide">HIDE</button>
					{{/each}}
					</section>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-2"></div>