<script type="text/javascript" src="/assets/js/userdisplay.js">
</script>
<header class="header"><h1 class="un">{{uservar.display_name}}</h1></header>

<div class="col-md-2"></div>
<div class="container col-md-8" >
	{{#each (each_sort uservar "topics" "position") as |topic topicindex|}}
		<div class="topic_div">
		<h3>{{topic.topic_name}}</h3>
			{{#each (each_sort topic "tasks" "priority") as |task taskindex|}}
				<div class="Atasks">
					<button class="btn" id="btn-task_{{task.id}}"><h4>{{task.task_title}}</h4></button>
					<section class="Btasks" id="section-task_{{task.id}}">
					{{#each (each_sort task "step_lists" "position") as |steplist steplistindex|}}
						<button class="btn" id="btn-steplist_{{steplist.id}}"><h5>{{steplist.list_title}}</h5></button>
						<ul class="list" id="section-steplist_{{steplist.id}}">
							{{#each (each_sort steplist "steps" "position") as |step stepindex|}}
								<li class="step" id="{{step.id}}">
								{{step.name}}:  {{step.description}}
								</li>
							{{/each}}
						</ul>
						<button class="hide">HIDE</button>
					{{/each}}
					</section>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>
<div class="col-md-2"></div>